:root {
	--progress-bar-height: 3px;
}

* {
	font-family: sans-serif;
}

body {
	margin: 0;
}

/* Progress bar at top indicating time until next data refresh */
#progress-bar {
	position: fixed;
	top: 0;
	right: 0;
	height: var(--progress-bar-height);
	background-color: rgb(54, 162, 235);
	width: 100%;
	transition: width linear;
	z-index: 1000;
}

.page {
	max-width: 1400px;
	margin: auto;
	margin-top: var(--progress-bar-height);
}

h1 {
	display: inline-block;
}

.graphs {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.group {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
}

.group.full {
	flex-basis: 100%;
}

.group.half {
	flex-basis: calc(50% - 32px);
}

.subgraphs {
	display: flex;
}

.subgroup.half {
	flex-basis: 50%;
}

.group h3 {
	margin: 0 0 5px;
	text-align: center;
}

.chart-container {
	width: 100%;
	height: 250px;
}

.chart-container.small {
	width: 100%;
	height: 200px;
}

#memory_gauge {
	max-height: 180px;
}

.power-label {
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
}
